
{% extends 'base.html' %}
<title>Add project and grade</title>
{% block content %}
<br>
<form action="/assign-grades" method="POST">
  <label>Enter GitHub username
      <input type="text" name="github">
  </label><br>
  <label>Enter title
      <input type="text" name="title">
  </label><br>
  <label>Enter grade
      <input type="text" name="grade">
  </label><br>
  <label>Enter max_grade
        <input type="text" name="max_grade">
    </label><br>
  <button type="submit" class="btn btn-primary mb-2" value="Display Student">Add grade</button>
</form>


{% endblock %}